
<h1 class="page-header">Profile</h1>

<div class="row placeholders">
	<div class="col-xs-10 col-sm-10 placeholder">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="name" class="col-sm-10 control-label"> Name:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" placeholder="Name" ng-model="model.name">
				</div>
			</div>
			<div class="form-group">
				<label for="username" class="col-sm-10 control-label"> Username:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="username" placeholder="Username" ng-model="model.username">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-10 control-label"> Email:</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Email" ng-model="model.email">
				</div>
			</div>
			<div class="form-group">
				<label for="password_login" class="col-sm-10 control-label"> Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="password_login" placeholder="Password" ng-model="model.password">
				</div>
			</div>
			<div class="form-group">
				<label for="birthdate" class="col-sm-10 control-label"> Date of Birth:</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" id="birthdate" ng-model="birthdate">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<button type="submit" class="btn btn-primary search-button" ng-click="model.update()">Update</button>
				</div>
			</div>
		</form>
	</div>
</div>
